@import "./../../../variables.scss";
@import "./../../../mixins.scss";

#body {
  @include BGImage("../../../assets/pictures/BGHome.jpg");
  margin: 0;
  padding: 0;

  #overlay {
    @include overlay(100%, 100vh, 0.6);
    #content {
      @include flex(column wrap, center);
      height: 80vh;
      img {
        margin: 50px 0 15px;
        max-width: 100%;
        padding-top: 2%;
      }
      button {
        @include button($dark-red);
      }
    }
  }
}
